@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;700&display=swap');

body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-image: url("Assets/images/bg.jpg");
    height: 70vh;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    /* background-size: 100vw; */
    background-size: max(1546px, 100vw);
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    z-index: 10;
    width: 114px;
    position: relative;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    color: white;
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: xx-large; */
    /* z-index: 20; */
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0px 30px;
}

.hero> :first-child {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(76, 75, 75);
}

.btn {
    font-family: 'Poppins', sans-serif;
    padding: 3px 8px;
    background-color: rgba(248, 243, 234, 0.021);
    font-weight: 400;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.main input {
    /* padding: 3px 24px;
    font-size: 20px; */
    padding: 7px 111px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(213, 205, 205, 0.5);
    ;
    /* background: transparent; */
    color: aliceblue;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg{
    position: relative;
}
.secImg img{
    /* max-width: 30vw; */
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 51px;
    right: 0px;
    width: 555px;
}

section.first> div{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first> div :nth-child(1){
    font-size: 41px;
    font-weight: bolder;
}

section.first> div :nth-child(2){
    font-size: 19px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}
.faqbox:hover{
    background-color: rgb(161, 159, 159);
}
.faqbox svg{
    filter: invert(1);
}
.faqbox{
    transition: all 1s ease-out;
    display: flex;
    /* background-color: grey; */
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
}

footer{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    max-width: 60vw;
    margin: auto;
    color: white;
    padding: 60px;
}
footer.questions{
    padding: 34px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}